//
//  Inputs
//  _____________________________________________

//
//  Inputs Mixins
//  ---------------------------------------------

@mixin input {
    @include body1;
    padding: $mg-micro;
    background: none;
    border: 1px solid $color-white;
    color: $color-white;
    font-family: $font__base;

    &:focus {
        outline: 0;
    }

    &::placeholder {
        color: $color-white;
    }
}

//
//  Inputs Declaration
//  ---------------------------------------------

.input {
    @include input;
}
