.todolist-container {
    @include flex-center;
    background-color: $color-ecru-white;
}

.todo-list {
    display: flex;
    flex-direction: column;
    height: 600px;
    padding: $mg-increased $mg-increased $mg-tiny;
    background-color: $color-outer-space;
    border-radius: 4px;
    color: $color-white;
}

.todo-header {
    @include h1;
    font-weight: bold;
    letter-spacing: .06em;
    text-align: center;
    text-transform: uppercase;
}

.todo-add {
    margin: $mg-regular 0;
}

.todo-form {
    display: flex;
    align-items: flex-end;

    .todo-input {
        width: 100%;
    }
}

.todo-items-container {
    overflow-y: auto;
    max-height: 300px;

    .todo-item {
        display: flex;
        align-items: center;
        margin-bottom: $mg-tiny;
        padding: $mg-tiny $mg-micro;
        background-color: $color-ecru-white;
        color: $color-black;
        transition: .3s background-color;

        &:hover {
            background-color: $color-white;
        }
    }

    .todo-item-completed {
        background-color: rgba($color-white, 80%);

        .todo-item-content {
            text-decoration: line-through;
        }
    }

    .todo-item-content {
        margin-right: auto;
    }

    .todo-item-actions {
        margin: 0 -$mg-atomic;
    }

    .todo-task-button {
        margin: 0 $mg-atomic;
    }

    .todo-done-button {
        @include button($color-william);
    }

    .todo-remove-button {
        @include button(#860015);
    }
}

.todo-bottom {
    display: flex;
    margin-top: auto;

    .todo-counter-container {
        padding-right: $mg-tiny;
        margin-right: auto;
    }

    .todo-actions {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 -$mg-atomic;
    }

    .todo-action {
        padding: 0 $mg-atomic;
    
        .todo-action-link {
            color: $color-white;
        
        }
    }
}

.todo-footer {
    @include small;
    margin-top: $mg-small;
    text-align: right;
}
